.button-primary {
  margin-bottom: 60px;
  padding: 28px 52px;
  border-radius: 20px;
  /* rgba(255, 0, 255), rgba(255, 160, 96) */
  background-color: #e95415;
  box-shadow: 0 3px 17px 0 rgba(112, 81, 239, 0.27);
  -webkit-transition: box-shadow 350ms, -webkit-transform 350ms;
  transition: box-shadow 350ms, transform 350ms, -webkit-transform 350ms;
  color: #fff;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}
